.container {
  display: flex;
  padding: 50px;
  box-shadow: 3px 10px 8px 10px #888888;
  width: 400px;
  margin: 0 auto;
  font-family: 'Footlight MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
  background-color: #26547C;
  top:0%;
  padding: 90px;
  margin-left: -4px;
  background-color: #26547c;
  text-transform: capitalize;
  color: whitesmoke;
  padding: 30px;
  font-size: 40px;
  font-family: "Footlight MT", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.width {
  width: 100%;
}
input{
  font-family: 'Footlight MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
input::placeholder{
  font-family: 'Footlight MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font{
  font-family: 'Footlight MT', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-cnt{
  margin: 10px 0;
  text-align: center;
}

.btn{
  margin-top: 10px;
  transform: scale(2);
  background-color: whitesmoke;
  color: #26547c;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover{
  cursor: pointer;
}

.mat-flat-button {
  margin: 5px;
}
.space{
  padding: 10px;
}
.btn2{
  border: none;
  margin-top: 9px;
  margin-left: -10px;
  color: whitesmoke;
  background-color: #26547c;
}
.btn2:hover{
  cursor: pointer;
}
.btn:disabled{
  color: #92BADD;
  cursor: not-allowed;
  pointer-events: all !important;


}
.btn:disabled[title]{

}

